@font-face {
    font-family: 'Bouba Web';
    src: url(../fonts/Bouba/BoubaRound-Regular.otf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bouba Web';
    src: url(../onts/Bouba/BoubaRound-RegularItalic.otf);
    font-weight: normal;
    font-style: italic;
  }
  @font-face {
    font-family: 'Bouba Web';
    src: url(../fonts/Bouba/BoubaRound-Medium.otf);
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bouba Web';
    src: url(../assets/style/fonts/Bouba/BoubaRound-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Bouba Web';
    src: url(../fonts/Bouba/BoubaRound-Bold.otf);
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Bouba Web';
    src: url(../fonts/Bouba/BoubaRound-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
  }

    
  @font-face {
    font-family: 'Bouba Web';
    src: url(../fonts/Bouba/BoubaRound-Black.otf);
    font-weight: 900;
    font-style: normal;
  }


  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap');